<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./templates/head', { title: "Dictionary" }) %>
    <link rel="stylesheet" href="/public/styles/home.css">
</head>

<body>
    <div class="header d-flex justify-content-between align-items-center mb-3">
        <p class="mb-0">Kesko Language</p>

        <div>
            <a class="btn btn-success" href="/create">
                <i class="bi bi-plus-lg"></i> Create Word
            </a>
        </div>
    </div>
    
    <nav class="navbar navbar-expand-lg bg-light">
        <button class="navbar-toggler btn btn-light" type="button" data-bs-toggle="collapse" data-bs-target="#keskoNav"
            aria-controls="keskoNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="bi bi-list"></span>
        </button>
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="keskoNav">
                <ul class="navbar-nav flex-wrap mx-auto">
                    <li class="nav-item"><a class="nav-link" data-page="rules">Rules</a></li>
                    <li class="nav-item"><a class="nav-link" data-page="word" data-group="A">A</a></li>
                    <li class="nav-item"><a class="nav-link" data-page="word" data-group="B">B</a></li>
                    <li class="nav-item"><a class="nav-link" data-page="word" data-group="D">D</a></li>
                    <li class="nav-item"><a class="nav-link" data-page="word" data-group="E">E</a></li>
                    <li class="nav-item"><a class="nav-link" data-page="word" data-group="F">F</a></li>
                    <li class="nav-item"><a class="nav-link" data-page="word" data-group="G">G</a></li>
                    <li class="nav-item"><a class="nav-link" data-page="word" data-group="H">H</a></li>
                    <li class="nav-item"><a class="nav-link" data-page="word" data-group="I">I</a></li>
                    <li class="nav-item"><a class="nav-link" data-page="word" data-group="J">J</a></li>
                    <li class="nav-item"><a class="nav-link" data-page="word" data-group="K">K</a></li>
                    <li class="nav-item"><a class="nav-link" data-page="word" data-group="L">L</a></li>
                    <li class="nav-item"><a class="nav-link" data-page="word" data-group="M">M</a></li>
                    <li class="nav-item"><a class="nav-link" data-page="word" data-group="N">N</a></li>
                    <li class="nav-item"><a class="nav-link" data-page="word" data-group="O">O</a></li>
                    <li class="nav-item"><a class="nav-link" data-page="word" data-group="P">P</a></li>
                    <li class="nav-item"><a class="nav-link" data-page="word" data-group="Q">Q</a></li>
                    <li class="nav-item"><a class="nav-link" data-page="word" data-group="R">R</a></li>
                    <li class="nav-item"><a class="nav-link" data-page="word" data-group="S">S</a></li>
                    <li class="nav-item"><a class="nav-link" data-page="word" data-group="T">T</a></li>
                    <li class="nav-item"><a class="nav-link" data-page="word" data-group="U">U</a></li>
                    <li class="nav-item"><a class="nav-link" data-page="word" data-group="V">V</a></li>
                    <li class="nav-item"><a class="nav-link" data-page="word" data-group="W">W</a></li>
                    <li class="nav-item"><a class="nav-link" data-page="word" data-group="X">X</a></li>
                    <li class="nav-item"><a class="nav-link" data-page="word" data-group="Y">Y</a></li>
                    <li class="nav-item"><a class="nav-link" data-page="word" data-group="Z">Z</a></li>
                    <li class="nav-item"><a class="nav-link" data-page="verbs">Verbs</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid vh-100">
        <div class="row h-100">
            <iframe src="/partials/rules" class="w-100 h-100" id="sectionLoader"></iframe>
        </div>
    </div>
</body>

<%- include('./templates/scripts') %>
<script src="/public/scripts/home.js"></script>

</html>